#yellowbox{
  width: 100%;
  .box2{
    width: 100%;
    background: #fffae9;
    padding: 15px;
    h6{
      font-weight: bold;
      font-size: 15px;
      padding: 2px;
    }
    font-size: 15px;
  }
}
